@page "/categorias"
@using Models
@using Services
@inject ICategoriaService CategoriaService

<br />
<br />
<br />
<MudText Typo="Typo.h4" Class="Titulo">Categorias</MudText>
<br />
<div class="row">

    @foreach (var item in cate)
    {

        <div class="col-md-4">
            <div class="contenedorboton">

                <a class="butt" href="@($"/librcate/{item.Id}")">
                    <span class="text">@item.Nombre</span>
                    <div class="wave"></div>
                </a>

            </div>
        </div>
    }
</div>

@code {
    IEnumerable<Categoria> cate = new List<Categoria>();
    protected override async Task OnInitializedAsync()
    {
        cate = await CategoriaService.GetAll();
    }
}
