@page "/editoriales"
@using Models
@using Services
@inject IEditorialService EditorialService

<br />
<br />
<br />
<h1 class="Titulo-Editoriales">Editoriales</h1>
@*<MudText Typo="Typo.h4" Class="Titulo-Editoriales">Editoriales</MudText>*@
<br />

<div class="row">
    @foreach (var item in editorial)
    {
        <div class="col-md-4">
            <div class="contenedorboton">

                <a class="butt" type="button" href="@($"/editorial/{item.Id}")">
                    <strong class="text">@item.Nombre</strong>
                    <div id="container-stars">
                        <div id="stars"></div>
                    </div>

                    <div id="glow">
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                </a>


            </div>
        </div>
    }
</div>

@code {
    IEnumerable<Editorial> editorial = new List<Editorial>();
    protected override async Task OnInitializedAsync()
    {
        editorial = await EditorialService.GetAll();
    }
}
