@page "/editoriales"
@using Models
@using Services
@inject IEditorialService EditorialService

<br />
<br />
<br />
<br />
<MudText Typo="Typo.h3" Class="Titulo">Editoriales</MudText>

<div class="row">
    @foreach (var item in editorial)
    {
        <div class="col-md-4">
            <div class="contenedorboton">

                <a class="butt" href="@($"/editorial/{item.Id}")">
                    @* <span class="liquid"></span>
                    <span class="btn-txt">@item.Nombre</span> *@
                    <span class="text">@item.Nombre</span>
                    <div class="wave"></div>
                </a>

            </div>
        </div>
    }
</div>

@code {
    IEnumerable<Editorial> editorial = new List<Editorial>();
    protected override async Task OnInitializedAsync()
    {
        editorial = await EditorialService.GetAll();
    }
}
