@page "/"

<br />
<br />
<br />
<h1  class="Titulo-Bienvenida">Te damos la bienvenida</h1>
@*<MudText Typo="Typo.h4" class="Titulo-Bienvenida">Te damos la bienvenida</MudText>*@
<br />

<MudText Typo="Typo.h6">
    Descubre libros fascinantes, conecta con autores talentosos y comparte tus pasiones literarias con una comunidad apasionada.
    ¡Siente cómo tus sueños literarios toman alas con Literary Wings!
</MudText>
<br />
<MudText Typo="Typo.h6">
    ¡Tu puerta de entrada al maravilloso mundo de la literatura! Aquí, las palabras toman vuelo y te transportan a universos inexplorados.
</MudText>

<br />
<br />
<div class="centered">
    <div id="carouselExampleCaptions" class="carousel slide Carrusel" data-bs-ride="carousel">


        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>

        <div class="carousel-inner ContenedorImgCarrusel">


            <div class="carousel-item active">
                <img class="d-block CarruselImg" src="https://th.bing.com/th/id/R.aa6a64cba9d1ea80d396b8d0ac02549d?rik=wr6rPa1fc2enjw&riu=http%3a%2f%2fm1.paperblog.com%2fi%2f144%2f1441809%2fnoviembre-sombra-serpiente-rick-riordan-ultim-L-GNI22R.jpeg&ehk=Lfg3rpRnJr3pIBOXfsydEe5dbTX9FNLblXmGKI8M2sw%3d&risl=&pid=ImgRaw&r=0" alt="Imagen">
            </div>
            <div class="carousel-item ">
                <img class="d-block CarruselImg" src="https://assets2.lectulandia.com/b/Rick%20Riordan/La%20Marca%20de%20Atenea%20(10)/big.jpg" alt="Imagen">
            </div>
            <div class="carousel-item ">
                <img class="d-block CarruselImg" src="https://th.bing.com/th/id/OIP.RGZcpHdoCWJWsVdybDUt_QAAAA?pid=ImgDet&rs=1" alt="Imagen">
            </div>
            <div class="carousel-item ">
                <img class="d-block CarruselImg" src="https://th.bing.com/th/id/OIP.kjG9ZkWwFj_fnuZXoXfZoQHaJw?pid=ImgDet&rs=1" alt="Imagen">
            </div>

        </div>
    </div>
</div>
@*
<div class="Contenedor-Galeria-Portada">
    <h1 class="Titulo-Galeria-Portada">Galeria de Libros</h1>
    <div class="gallery-wrap">
        <div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/bruflix-imecs.appspot.com/o/Imagenes_Pelicula%2FLibros%2FLibrosPortada%2FEl%20ladr%C3%B3n%20del%20Rayo-Percy%20Jackson%20Y%20Los%20Dioses%20del%20Olimpo.jpeg?alt=media&token=8dcabdee-ba9a-4372-a5c9-7d1c7d46b401&_gl=1*14jyki8*_ga*ODk4Mjc0NDU5LjE2Nzc3MDIwNjY.*_ga_CW55HF8NVT*MTY5NTg4OTQwMC4yMC4xLjE2OTU4OTA1MjUuNDUuMC4w" alt="Imagen1" /></div>
        <div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/bruflix-imecs.appspot.com/o/Imagenes_Pelicula%2FLibros%2FLibrosPortada%2FEl%20mar%20de%20los%20monstruos%20-%20Rick%20Riordan.png?alt=media&token=3c44f7a4-8109-45d9-be35-9fa640dccc65&_gl=1*fpsn7r*_ga*ODk4Mjc0NDU5LjE2Nzc3MDIwNjY.*_ga_CW55HF8NVT*MTY5NTg4OTQwMC4yMC4xLjE2OTU4OTA1NTAuMjAuMC4w" alt="Imagen2" /></div>
        <div class="item"><img src="https://firebasestorage.googleapis.com/v0/b/bruflix-imecs.appspot.com/o/Imagenes_Pelicula%2FLibros%2FLibrosPortada%2FLa%20batalla%20del%20laberinto%20-%20Rick%20Riordan.jpeg?alt=media&token=dc42be94-52fa-45a8-b62a-0b6424489345&_gl=1*1fuss5u*_ga*ODk4Mjc0NDU5LjE2Nzc3MDIwNjY.*_ga_CW55HF8NVT*MTY5NTg4OTQwMC4yMC4xLjE2OTU4OTA1NjAuMTAuMC4w" alt="Imagen3" /></div>
    </div>
</div>*@