@page "/Listsuegerencia"
@using Models
@using Services
@inject ISugerenciaService SugereciaService

<br />
<br />
<br />
<h1 class="Titulo-Autores">Sugerecias del Usuario</h1>
@*<MudText Typo="Typo.h4" Class="Titulo-Autores">Sugerencia</MudText>*@
<br />

<div class="row">
    @foreach (var item in sugerencias)
    {
        <div class="col-md-4">
            <div class="ContenedorComentarioTodo">
                <div class="Contenedorcomentario">
                    <div class="ContenedorSugerencia">
                        <div class="ContenedorAtributos">
                            <div class="Nombrecomentario">@item.Nombre</div>
                            <div class="Correocomentario">Correo: <span class="Sub-Detallescomentario">@item.Correo</span></div>
                            <div class="Sugerencia">Sugerencia: <span class="Sub-Detallescomentario">@item.Comentario</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@code {
    IEnumerable<Sugerencia> sugerencias = new List<Sugerencia>();
    protected override async Task OnInitializedAsync()
    {
        sugerencias = await SugereciaService.GetAll();
    }
}
