   <MudNavMenu>
    <MudNavLink Href="/" >
        <div class="nav-link-content">
            <img src="/images/casa.png" class="nav-link-image" />
            <span class="nav-link-text">Inicio</span>
        </div>
    </MudNavLink>
    <br />
    
       <MudNavLink Href="/autores">
        <div class="nav-link-content">
            <img src="/images/usuario.png" class="nav-link-image" />
            <span class="nav-link-text">Autores</span>
        </div>
    </MudNavLink>
    <br />
    <MudNavLink Href="/editoriales">
        <div class="nav-link-content">
            <img src="/images/edit.png" class="nav-link-image" />
            <span class="nav-link-text">Editoriales</span>
        </div>
    </MudNavLink>
    <br />
    <MudNavLink Href="/categorias">
        <div class="nav-link-content">
            <img src="/images/categoria.png" class="nav-link-image" />
            <span class="nav-link-text">Categorias</span>
        </div>
    </MudNavLink>
    <br />
        <MudNavLink Href="/libros">
            <div class="nav-link-content">
               <img src="/images/lobros.png" class="nav-link-image" />
              <span class="nav-link-text">Libros</span>
            </div>
        </MudNavLink>
    <br />
       <MudNavLink  Href="/sugerencias" >
           <div class="nav-link-content">
              <img src="/images/sugerencia.png" class="nav-link-image" />
              <span class="nav-link-text">Sugerencia</span>
           </div></MudNavLink>
    </MudNavMenu>