@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
    margin: 0;
    
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colores */
    --cian-oscuro: #00415A;
    --cian: #00B8FF;
    --cian-claro: #3BC9FF;
    --blanco: #fff;
    --negro: #000;
    --celeste-claro: #00FFDD;
    --light-red: #ff0022;
    --azul-magenta: #0404e2;
    --naranja-claro: #fb5b17;
    --verde-cian: #00ff7f;
    /*Paleta de colores*/
    --amarillo-oscuro: #030056;
    --amarillo-medio-oscuro: #01303f;
    --sombra-amarillo:  #6c197c;
    --amarillo-mostaza: #02a9f7;
    --mostaza-medio-palido: #89d6fb;
    --mostaza-palido: #81C784;
    /*Opciones*/
    --amarillo-claro: #00c2c7;
    --amarillo-verde: #bfff00;
}

/*---------------------------------------------Diseños Generales--------------------------------------------*/
/*---------------------------------------------Diseños Generales--------------------------------------------*/
/*---------cambios------------------------*/
html, .BodyPrime {
    background-color: #E1BEE7;
}

.Logo {
    transform: translateY(0px);
    width: 35%;
    height: 100%;
}

@media (max-width: 950px) {
    .Logo {
        flex-direction: column;
        align-items: center;
        width: 45%;
    }
}

@media (max-width: 350px) {
    .Logo {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
}

.Titulo-Bienvenida, .Titulo-Autores,
.Titulo-SugerenciaDetalles, .Titulo-Sugerencia,
.Titulo-Categorias, .Titulo-Editoriales,
.Titulo-Libro {
    font-size: 350%;
    font-family:'Times New Roman', Times, serif;
    color: #000;
    text-align: center;
    font-weight: bold;
}


.nav-link-content {
    display: flex; 
    align-items: center; 
}

.nav-link-image {
    width: 24px;
    height: 24px; 
    margin-right: 8px; 
}

.nav-link-text {
    font-family: Arial;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}


    .nav-link-text:hover {
        color: #6A1B9A;
    }

.intro {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    font-weight: normal;
}

/*-------------------------------------------------------------------------------*/

.Titulo-Detalles-Imagenes, .Titulo-Galeria-Portada {
    font-size: 35px;
    font-weight: 900;
    color: black;
    margin-bottom: 20px;
    line-height: 1.5em;
    text-align: center;
}
/*-------------------------------------Diseño de cuadro de Libros------------------------------------*/
.card1 {
    width: 275px;
    height: 375px;
}

.Ajustarimagen {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 20px;
    border: 4px solid var(--amarillo-mostaza);
}

.card-content {
    width: 275px;
    height: 375px;
    transform-style: preserve-3d;
    transition: transform 3s;
}

.card1:hover .card-content {
    transform: rotateY(180deg);
}

.fondo {
    width: 275px;
    height: 355px;
    background-color: black;
    font-weight: 400;
    opacity: 0.65;
    padding: 16px;
    border-radius: 20px;
    transform: translateY(-350px)
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    inset: 1rem;
    color: white;
    border-radius: 20px;
}

.card-front {
    align-items: center;
}

.card-back {
    transform: rotateY(180deg);
    gap: 0.5rem;
}

.contenedor {
    display: inline-block;
}

.card-front {
    content: "";
    transform: translateZ(2rem);
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 0px;
    color: var(--Negro);
}

    .title:hover {
        color: var(--amarillo-mostaza);
    }

.sub-fechaLanzamiento {
    border-radius: 10px;
    padding: 5px;
    color: white;
    background-color: var(--amarillo-oscuro);
    margin-left: 140px;
    margin-top: -29px;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    transform: translateZ(3rem);
}

.AtributosLibro {
    color: var(--amarillo-claro);
    font-size: 15px;
}

/*-------------------------------------------Diseño de detalles------------------------------------------------------*/

.ContenedorDetallesLibro {
    display: flex;
    justify-content: center;
}

.ContenedorLibro {
    width: 1200px;
    height: 700px;
    background-image: linear-gradient(147deg, var(--sombra-amarillo) 0%, black 95%);
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.ContenedorImagenPortada {
    width: 300px;
    flex-shrink: 0;
    box-shadow: 4px 13px 30px 1px rgb(0, 194, 199);
    border-radius: 20px;
    transform: translateX(-50px);
    overflow: hidden;
}

.ImgDetalles {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Nombre, .Pagina, .Idioma,
.Autor, .Categoria, .Editorial,
.FechaLibro {
    font-size: 18px;
    font-weight: 900;
    color: var(--amarillo-claro);
    margin-bottom: 20px;
    line-height: 1.5em;
}

.Nombre {
    font-size: 35px;
    color: black;
}

.Descripcion, .Sub-Detalles {
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-bottom: 30px;
    line-height: 1.5em;
}

.Descargar {
    padding: 5px 8px;
    background-color: var(--amarillo-mostaza);
    color: var(--white-color);
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid var(--white-color);
    cursor: pointer;
}

    .Descargar:hover {
        color: var(--light-orange);
        background-color: var(--mostaza-palido);
        border: 2px solid var(--light-bacco);
    }

@media (max-width: 950px) {
    .ContenedorLibro {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 15px;
    }

    .ContenedorImagenPortada {
        width: 70%;
        margin-bottom: 20px;
        transform: none;
    }

    .Nombre {
        font-size: 30px;
        text-align: center;
    }

    .Descripcion, .Sub-Detalles {
        text-align: center;
        font-size: 16px;
    }

    .Descargar {
        display: flex;
        justify-content: center;
        font-size: 18px;
        padding: 10px 15px;
    }
}

/*-------------------------------------------Diseño de las Imagenes de Detalles------------------------------------------------------*/

.Linea {
    background: var(--amarillo-medio-oscuro);
    height: 5px;
    width: 100%;
    display: block;
}

.contenedor-imagenes {
    display: flex;
    justify-content: space-around;
}

    .contenedor-imagenes img {
        max-width: 50%;
        height: auto;
    }

.Image {
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

@media (max-width: 950px) {
    .contenedor-imagenes {
        flex-direction: column;
    }

        .contenedor-imagenes img {
            max-width: 100%;
        }
}

/*-------------------------------------------Diseño del Libro de Loading ------------------------------------------------------*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(250px);
}

.loader {
    --background: linear-gradient(135deg, #23C4F8, #275EFE);
    --shadow: rgba(39, 94, 254, 0.28);
    --text: #6C7486;
    --page: rgba(255, 255, 255, 0.36);
    --page-fold: rgba(255, 255, 255, 0.52);
    --duration: 3s;
    width: 200px;
    height: 140px;
}

    .loader:before, .loader:after {
        --r: -6deg;
        content: "";
        position: absolute;
        bottom: 8px;
        width: 120px;
        top: 80%;
        box-shadow: 0 16px 12px var(--shadow);
        transform: rotate(var(--r));
    }

    .loader:before {
        left: 4px;
    }

    .loader:after {
        --r: 6deg;
        right: 4px;
    }

    .loader div {
        width: 100%;
        height: 100%;
        border-radius: 13px;
        position: relative;
        z-index: 1;
        perspective: 600px;
        box-shadow: 0 4px 6px var(--shadow);
        background-image: var(--background);
    }

        .loader div ul {
            margin: 0;
            padding: 0;
            list-style: none;
            position: relative;
        }

            .loader div ul li {
                --r: 180deg;
                --o: 0;
                --c: var(--page);
                position: absolute;
                top: 10px;
                left: 10px;
                transform-origin: 100% 50%;
                color: var(--c);
                opacity: var(--o);
                transform: rotateY(var(--r));
                -webkit-animation: var(--duration) ease infinite;
                animation: var(--duration) ease infinite;
            }

                .loader div ul li:nth-child(2) {
                    --c: var(--page-fold);
                    -webkit-animation-name: page-2;
                    animation-name: page-2;
                }

                .loader div ul li:nth-child(3) {
                    --c: var(--page-fold);
                    -webkit-animation-name: page-3;
                    animation-name: page-3;
                }

                .loader div ul li:nth-child(4) {
                    --c: var(--page-fold);
                    -webkit-animation-name: page-4;
                    animation-name: page-4;
                }

                .loader div ul li:nth-child(5) {
                    --c: var(--page-fold);
                    -webkit-animation-name: page-5;
                    animation-name: page-5;
                }

                .loader div ul li svg {
                    width: 90px;
                    height: 120px;
                    display: block;
                }

                .loader div ul li:first-child {
                    --r: 0deg;
                    --o: 1;
                }

                .loader div ul li:last-child {
                    --o: 1;
                }

    .loader span {
        display: block;
        left: 0;
        right: 0;
        top: 100%;
        margin-top: 20px;
        text-align: center;
        color: var(--text);
    }

@keyframes page-2 {
    0% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    35%, 100% {
        opacity: 0;
    }

    50%, 100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-3 {
    15% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    50%, 100% {
        opacity: 0;
    }

    65%, 100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-4 {
    30% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    65%, 100% {
        opacity: 0;
    }

    80%, 100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-5 {
    45% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    65% {
        opacity: 1;
    }

    80%, 100% {
        opacity: 0;
    }

    95%, 100% {
        transform: rotateY(0deg);
    }
}

/*-------------------------------------------Diseño de Bienvenida ------------------------------------------------------*/

.Contenedor-Galeria-Portada {
    text-align: center;
}

.gallery-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    flex: 1;
    margin: 10px;
    max-width: 100%; /* Establecer un ancho máximo para cada elemento */
    min-width: 250px; /* Establecer un ancho mínimo para cada elemento */
    height: 550px; /* Establecer una altura fija para todos los elementos */
    overflow: hidden; /* Ocultar cualquier contenido adicional que exceda la altura */
    transition: flex 0.8s ease;
}

    .item:hover {
        flex: 7;
    }

    .item img {
        max-width: 100%;
        height: auto;
        object-fit: cover; /* Mantener la relación de aspecto y ajustar la imagen en el contenedor */
    }

/*-------------------------------------------Diseño de Sugerencia ------------------------------------------------------*/

.Contenedor-Principal-Sugerencia {
    background-image: linear-gradient(147deg, var(--gt) 0%, white 95%);
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto; /* Centra horizontalmente */
    margin-top: 20px; /* Añade espacio en la parte superior */
}


.Contenedor-Secundario-Sugerencia {
    text-align: center;
}

.Contenedor-Atributos-Sugerencia {
    margin-top: 20px;
}

.Contenedor-Boton-Guardar-Sugerencia {
    margin-top: 20px;
}

.Boton-Guardar-Sugerencia {
    background-color: var(--amarillo-oscuro);
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer;
}

    .Boton-Guardar-Sugerencia:hover {
        font-weight: 600;
        background-color: var(--cian-claro);
        color: black;
    }
