.contenedorboton {
    padding: 30px;
    padding-left: 100px;
}

:root {
    --azul-negro: #0A6FAD;
    --nuevo: #6c197c;
    --morado: #714fed;
    --morado-claro: #79269c;
    --morado-oscuro: #b671ef;
    --morado-palido: #9c60ea;
}

/*--------------------------------------------------Boton Editorial---------------------------------------------------*/


.butt {
    text-align:center;
    width: 275px;
    padding: 20px;
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    border-radius: 2rem;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
}

    .butt:hover .wave {
        top: -50px;
    }



.text {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 600;
}

.wave {
    width: 275px;
    height: 275px;
    background-color: var(--morado);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: -100px;
    transition: 0.4s;
}

    .wave::before, a .wave::after {
        width: 200%;
        height: 200%;
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -75%);
    }

    .wave::before {
        border-radius: 45%;
        background-color: var(--morado);
        animation: wave 5s linear infinite;
    }

    .wave::after {
        border-radius: 40%;
        background-color: rgba(20, 20, 20, 0.5);
        animation: wave 10s linear infinite;
    }

@keyframes wave {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(300deg);
    }
}

/*-----------------------------------------Estlilo lista sugerencia----------------------------------------*/
.ContenedorComentarioTodo {
    width: 360px;
    height: 280px;
    background-image: linear-gradient(147deg, var(--amarillo-medio-oscuro) 0%, black 95%);
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    border-radius: 45px;
    margin: 20px;
}

.ContenedorSugerencia {
    display: flex;
    align-items: center;
    margin-left: 20px;
    transform: translateY(60px);
}

.Correocomentario, .Sugerencia {
    font-size: 18px;
    font-weight: 900;
    color: var(--amarillo-claro);
    margin-bottom: 10px;
    line-height: 1.5em;
}

.Nombrecomentario {
    font-size: 23px;
    font-weight: 900;
    color: var(--blanco);
    margin-bottom: 10px;
    line-height: 1.5em;
}

.Sub-Detallescomentario {
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-bottom: 30px;
    line-height: 1.5em;
}



